/* Box 1 */
.box-1 {
    display: flex;
}

.card {
    padding: 10px;
}

.card-content {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 45px;
    position: relative;
}

.card-content::before {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 13%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #000;
}

.card-info {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 30px;
}

.card-info-1 img,
.card-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card-info-1 h3,
.card-info-1 p,
.card-info h3,
.card-info p {
    margin: 0 10px;
}

.card-1 {
    border: 1px solid #000;
    border-radius: 45px;
    padding: 10px 20px;
}

.card-content-1 {
    padding: 20px;
}

.card-info-1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* Box 2 */
.box-2 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    border-radius: 30px;
}

.content {
    margin-left: 40px;
    background-color: #000;
    color: #fff;
    padding: 28px;
    border-radius: 30px;
}

.stars i {
    color: yellow;
}

.content h3 {
    font-size: 30px;
    margin: 10px 0 0 0;
}

.positions {
    color: #ccc;
}

/* Box 3 */
.box-3 {
    margin-top: 70px;
    position: relative;
}

.card-3 {
    border: 1px solid #000;
    border-radius: 45px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card3-content {
    text-align: center;
    width: 500px;
}

.card3-avatar {
    text-align: center;
    margin-top: 40px;
    position: relative;

}

.card3-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 3px 0 3px;
}

.card3-avatar img:nth-of-type(1),
.card3-avatar img:nth-of-type(3) {
    /* margin-top: 20px; */
    width: 45px;
    height: 45px;
    opacity: 0.7;
}

.prevbtn,
.nextbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prevbtn {
    left: 25%;
}

.nextbtn {
    right: 25%;
}

.card3-name {
    text-align: center;
}